{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}FeltGood - Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2><span class="label actions">Actions</span></h2>

<div class="flex three">
	{% for action in context.actions %}
	<article class="card">
		<header>
			<h4><a href="{{ url_for('views.actions') }}/{{ action }}">/{{ action }}</a></h4>
			<hr>
			{% for contact in context.contacts %}
			<a href="/views/contacts/{{ contact.name }}">
				<label class="label contacts">
					{{ contact.name }}
				</label>
			</a>
			{% endfor %}
		</header>
	</article>
	{% else %}
	<article class="card">
		<header>
			<h4>No actions in your network yet.</h4>
		</header>
	</article>
	{% endfor %}
</div>
{% endblock %}
