{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Topic{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="flex three">
	<article class="card">
		<header>
			<h4><a href="{{ url_for('views.topics') }}/{{ context.topic.name }}">#{{ context.topic.name }}</a></h4>
			<hr>
			{% for contact in context.contacts %}
			<a href="/views/contacts/{{ contact.name }}">
				<label class="label contacts">
					@{{ contact.name }}
				</label>
			</a>
			{% endfor %}
		</header>
	</article>
</div>


<h2><span class="label activities">Upcoming Activities</span></h2>
{% for upcoming in context.upcomings %}
<article class="card">
	<header>
		<h4>{{ upcoming.when_string }} | {{ upcoming.activity |colourised|safe }}</h4>
	</header>
</article>
{% else %}
<article class="card">
	<header>
		<h4>No upcoming activities.</h4>
	</header>
</article>
{% endfor %}

<h2><span class="label activities">Activities</span></h2>
{% for i in context.interactions %}
<article class="card">
	<header>
		<h4>{{ i.activity |colourised|safe }}</h4>
	</header>
</article>
{% else %}
<article class="card">
	<header>
		<h4>No activities with your contacts yet.</h4>
	</header>
</article>
{% endfor %}
{% endblock %}
